<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="images/Weather.png">
    <!-- Css here -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hossam Mohamed. It uses data from mapbox.com and openweathermap.org! </p>
         <img class="portrait" src="images/Hossam.png" alt="Hossam">
    </div>
    
    {{>footer}}
</body>
</html>